<ion-menu side="start" menuId="menuAdmin" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú Administrador</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <app-menu-admin></app-menu-admin>

  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>

<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Página Administrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Creacion de usuarios -->
  <form>

    <ion-row>
      <ion-col>

        <ion-list>
          <ion-item>
            <ion-label class="titulo" color="primary">Creación de usuarios</ion-label>
          </ion-item>
      
          <!-- Escoger tipo de usuario -->
          <ion-item>
            <ion-label>Tipo de usuario</ion-label>
            <ion-select value="paciente" multiple="false" #selecRol>
              <ion-select-option value="paciente">Paciente</ion-select-option>
              <ion-select-option value="doctor">Doctor</ion-select-option>
            </ion-select>
          </ion-item>
      
          <!-- Entrada de datos -->
          <ion-item>
            <ion-label>DNI/NIE:</ion-label>
            <ion-input slot="end" type="text" placeholder="12345678X"
                       #dniUsuario required></ion-input>
          </ion-item>
      
          <ion-item>
            <ion-label>Nombre:</ion-label>
            <ion-input slot="end" type="text" placeholder="Nombre Apellidos" 
                       #nombreUsuario required></ion-input>
          </ion-item>
      
          <ion-item>
            <ion-label>Contraseña:</ion-label>
            <ion-input slot="end" type="text" placeholder="Contraseña"
                       #contraseñaUsuario required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Sexo:</ion-label>
            <ion-select #sexoUsuario value="hombre">
              <ion-select-option value="mujer">Mujer</ion-select-option>
              <ion-select-option value="hombre">Hombre</ion-select-option>
              <ion-select-option value="otro">Otro</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Fecha nacimiento:</ion-label>
            <ion-datetime [(ngModel)]="fechaUsuario" displayFormat="DD-MM-YYYY"
                          min="1920-01-01" max="2199-12-31" name="fechaUsuario"
                          placeholder="Selecciona una fecha"></ion-datetime>
          </ion-item>
      
          <ion-item>
            <ion-label>DNI/NIE Doctor:</ion-label>
            <ion-input slot="end" type="text" placeholder="12345678X"
                       #doctorUsuario required></ion-input>
          </ion-item>
          
          <ion-button (click)="crearUsuario()" color="tertiary"
                      shape="round">
            Crear usuario
          </ion-button>
        </ion-list>

      </ion-col>
    </ion-row>

  </form>

</ion-content>
