<ion-list>
  
</ion-list>
<ion-list>
  <ion-list-header>
    Opciones
  </ion-list-header>

  <ion-item>
    <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
      Click me
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
      Click me
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
      Click me
    </ion-button>
  </ion-item>
</ion-list>

<ion-button class="botonCerrar" color="danger" (click)="logout()" expand="block" fill="clear" shape="round">
  <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
  <label class="cerrar-sesion">Cerrar Sesión</label>
</ion-button>