ion-list-header {
    padding-left: 18px;
    padding-right: 18px;

    font-size: larger;
  
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 450;
}

.cerrar-sesion{
  margin-left: 5%;
}

.botonCerrar{
  position: absolute;
  bottom: 6%;
  right: 0%;
  left: 0%;
}