
<ion-list>
  <ion-list-header>
    Opciones
  </ion-list-header>

  <ion-item>
    <ion-button (click)="crearUsuario()" expand="block" fill="clear" shape="round">
      Crear Usuario
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-button (click)="eliminarUsuario()" expand="block" fill="clear" shape="round">
      Eliminar Usuario
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-button (click)="verUsuario()" expand="block" fill="clear" shape="round">
      Ver Usuario
    </ion-button>
  </ion-item>


</ion-list>

<ion-button class="botonCerrar" color="danger" (click)="logout()" expand="block" fill="clear" shape="round">
  <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
  <label class="cerrar-sesion">Cerrar Sesión</label>
</ion-button>



